﻿@{
    ViewData["Title"] = "Quản Lý Công Việc";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    
}

@model COTS1.Models.DataViewHome

<style>
    .Container {
        margin-top: 60px;
    }
</style>
<div class="container-fluid mt-5">
    <div class="Container container-expanded" id="chartContainer">
        <div id="wrapper">

            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">

                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">

                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                            </div>
                        </li>

                    </ul>

                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Hi!! @ViewBag.Name</h1>
                        </div>

                        <!-- Content Row -->
                        <div class="row">

                            <!-- Tổng số dự án -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Tổng số dự án
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DataSummary.TotalParticipatedProjects</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-folder fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Nhiệm vụ đã nhận -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Nhiệm vụ đã nhận
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DataSummary.TotalReceivedTasks</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-tasks fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Nhiệm vụ hoàn thành -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Nhiệm vụ hoàn thành
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DataSummary.TotalApprovedTasks</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Nhiệm vụ đang tiến hành -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    Nhiệm vụ đang tiến hành
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DataSummary.isWorking</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-tasks fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <!-- Yêu cầu chưa xử lý -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-warning shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Yêu cầu chưa xử lý
                                                    </div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DataSummary.PendingApprovalTasks</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nhiệm vụ đã bị từ chối -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-danger shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                        Nhiệm vụ bị từ chối
                                                    </div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DataSummary.refusedTasks</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-times-circle fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <!-- Content Row -->
                        <div class="row">

                            <!-- Biểu đồ doanh thu -->
                           <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4 card-project">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Nhắc nhở dự án</h6>
        </div>
        <div class="card-body">
            @if (Model.DataReminder.Count > 0)
            {
                foreach (var reminder in Model.DataReminder)
                {
                    <div class="alert alert-info">
                        <h5 class="alert-heading">@reminder.ProjectName</h5>
                        <p>@reminder.ReminderContent</p>
                        <p><strong>Ngày nhắc nhở:</strong> @reminder.ReminderDate.ToString("dd/MM/yyyy")</p>
                        <p><strong>Trạng thái:</strong> @reminder.Status</p>
                    </div>
                    
                    <div class="d-flex flex-column">
                        @foreach (var task in reminder.TaskReminders)
                        {
                            @if (reminder.TaskReminders.Count > 0)
                            {
                                <div class="alert alert-warning card-task">
                                    <h5 class="alert-heading">@task.TaskTitle</h5>
                                    <p><strong>Ngày nhắc nhở:</strong> @task.DaysRemaining</p>
                                    <p><strong>Trạng thái:</strong> @task.TaskStatus</p>
                                </div>
                            }
                        }
                    </div>
                }
            }
            else
            {
                <p>Không có nhắc nhở nào.</p>
            }
        </div>
    </div>
</div>



                            <!-- Biểu đồ hình tròn -->
                           <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-5">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Biểu đồ thống kê số nhiệm vụ của @ViewBag.Name</h6>
        </div>
        <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
                <canvas id="myPieChart"></canvas>
            </div>
            <div class="mt-4 text-center small">
                <span class="mr-2">
                    <i class="fas fa-circle text-primary"></i> Nhiệm vụ đã nhận
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-success"></i> Nhiệm vụ hoàn thành
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-info"></i> Nhiệm vụ đang tiến hành
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-warning"></i> Nhiệm vụ đang chờ xử lý
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-danger"></i> Nhiệm vụ bị từ chối
                </span>
            </div>
        </div>
    </div>
</div>

                        </div>

                        <!-- Content Row -->

                        <div class="row">
                            @foreach (var pro in Model.DataSummary.projectProgressList)
                            {                
                                <div class="col-lg-6 mb-4">
                                    <!-- Card dự án -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Dự án: @pro.ProjectName</h6>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="small font-weight-bold">
                                                Tiến độ: <span class="float-right">@pro.Progress %</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar
                                                    @(pro.Progress < 50 ? "bg-danger" : (pro.Progress < 100 ? "bg-warning" : "bg-success"))"
                                                     role="progressbar"
                                                     style="width: @pro.Progress%"
                                                     aria-valuenow="@pro.Progress"
                                                     aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hình minh họa -->
                                <div class="col-lg-6 mb-4">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Name</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="text-center">
                                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                                     src="~/dist/assets/img/undraw_work_chat_re_qes4.svg" alt="Hình minh họa">
                                            </div>
                                            <p>
                                                Sẽ tốt hơn khi bạn làm việc nhóm với!!  <a target="_blank" rel="nofollow" href="#">COTS</a>.
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>


                            </div>                     
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy;COTS 2024</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nhắc Nhở</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                    @if (Model != null && Model.DataReminder.Any())
                {
                    <ul>
                            @foreach (var reminder in Model.DataReminder)
                        {
                            <li>
                                <strong>@reminder.ProjectName</strong>: 
                                Ngày hết hạn: @(reminder.EndDate.HasValue ? reminder.EndDate.Value.ToShortDateString() : "Chưa xác định") 
                                - @if (reminder.Status == "Đã quá hạn") { <span class="text-danger">Đã quá hạn</span> } 
                                else { <span class="text-warning">Còn @reminder.DaysRemaining ngày</span> }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>Không có nhắc nhở nào.</p>
                }
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
            keyboard: false
        });
        myModal.show();
    });
</script>   
</div>
    </div>
    <script>
    var ctx = document.getElementById('myPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                'Nhiệm vụ đã nhận',
                'Nhiệm vụ hoàn thành',
                'Nhiệm vụ đang tiến hành',
                'Nhiệm vụ đang chờ xử lý',
                'Nhiệm vụ bị từ chối'
            ],
            datasets: [{
                data: [
                    @Model.DataSummary.TotalReceivedTasks,  // Nhiệm vụ đã nhận
                    @Model.DataSummary.TotalApprovedTasks,   // Nhiệm vụ hoàn thành
                    @Model.DataSummary.isWorking,            // Nhiệm vụ đang tiến hành
                    @Model.DataSummary.PendingApprovalTasks, // Nhiệm vụ đang chờ xử lý
                    @Model.DataSummary.refusedTasks          // Nhiệm vụ bị từ chối
                ],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.6)',  // Blue
                    'rgba(75, 192, 192, 0.6)',  // Green
                    'rgba(255, 206, 86, 0.6)',  // Yellow
                    'rgba(255, 99, 132, 0.6)',   // Red
                    'rgba(153, 102, 255, 0.6)'   // Purple
                ],
                hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });
</script>


