
@{
    ViewData["Title"] = "Subtasks";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<style>
    .card-footer {
        text-align: right; /* Căn chỉnh nút "Nhận việc" sang bên phải */
    }
</style>
@model Assigned_And_Suptask_Model

<div class="container" style="margin-left: 230px; margin-top: 70px;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var task in Model.Subtasks)
        {
            <form asp-action="AcceptSubtask" asp-controller="ListTask" method="post">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@task.Title</h5>
                        <p class="card-text">@task.Description</p>
                        <p class="card-text"><small class="text-muted">Trạng thái: @task.Status</small></p>
                    </div>
                    <div class="card-footer text-end">
                        
                            <input type="hidden" value="@task.SubtaskId" name="subtaskId" />
                            <input type="hidden" value="@ViewBag.taskId " name="taskId" />
                            @if (Model.AssignedSubtaskIds.Contains(task.SubtaskId))
                            {
                                <button type="button" class="btn btn-outline-success " disabled>Đã nhận việc</button>
                            }
                            else
                            {
                                <button asp-action="AcceptSubtask" asp-controller="ListTask" type="submit" class="btn btn-primary">Nhận việc</button>
                            }
                    
                    </div>
                </div>
            </div>
            </form>
        }
    </div>
</div>


<!-- The Modal -->

